.MapItem {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    max-width: 100%;
}

.dot {
    height: 0.5rem;
    min-width: 0.5rem;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    transform: translateX(-50%);
}