.TextComponent {
    min-width: 60%;
    max-width: 60%;
    text-align: left;
    padding: 1rem 0 1rem 1rem;
    white-space: break-spaces;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left: 1px solid #000;
}